@model MvcLearning.Models.Classes.Department;
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "AdminLayout";
}
<br/>
<h2 class="m-3">Yeni Departman</h2>
<br/>
<form class="form-group m-3" method="post">
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.departmentName, new
    {
        @class="form-control",
        @placeholder="Depatman Adı Giriniz"
        
    })
    <br/>
    <button class="btn btn-info ms-auto">Kaydet</button>
</form>