@model MvcLearning.Models.Classes.Department;
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "AdminLayout";
}

<br/>
<h2 class="m-3">Departman Güncelleme</h2>
<br/>

@using (Html.BeginForm("GetDepartment", "Department", FormMethod.Post, new {@class= "m-3"}))
{
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x=>x.departmentName, new
    {
        @class="form-control"
    })
    @Html.HiddenFor(x=>x.departmentId)
    
    <button class="btn btn-success mt-2">Kaydet</button>
}