@using MvcLearning.Models.Classes
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "AdminLayout";
}

<div class="container-fluid">
    <div class="d-flex justify-content-end my-3">
        <a href=@Url.Action("NewCategory", "Category") class="btn btn-primary">Yeni Kategori</a></div>
    <table class="table table-bordered mt-3">
        <tr>
            <th>Kategori Id</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.categoryId</td>
                <td>@item.categoryName</td>
                <td><a href="/Category/DeleteCategory/@item.categoryId" class="btn btn-danger text-light">Sil</a></td>
                <td><a href="/Category/GetCategory/@item.categoryId" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
</div>
